@import "styles/palette";
@import "styles/mixins";

.message{
  &_container {
    position: relative;
    padding: 13px 20px;
    transition: all .15s ease;

    &:hover {
      background: $grey;
    }

    .emoji_picker {
      position: absolute;
      right: 40px;
      transform: scale(0.6);
      transform-origin: top right;
      z-index: 100;
      display: none;

      &__top {
        top: -256px;
        display: block;
      }

      &__bottom {
        display: block;
        top: 40px;
      }
    }
  }

  &_actions {
    position: absolute;
    top: 11px;
    right: 13px;
    display: grid;
    grid-auto-flow:column;
    grid-template-columns: repeat(auto-fit, 21px);
    grid-template-rows: 21px;
    grid-column-gap: 3px;
  }

  &_icon {
    &_wrapper {
      display: grid;
      place-items: center;
    }

    cursor: pointer;
    fill: $black;
    stroke: $black;
    width: 18px;
    height: 18px;
    transition: all .15s ease;

    &:hover {
      fill: $slackColor;
      stroke: $slackColor;
    }

    &__nostroke {
      stroke: none;

      &:hover {
        stroke: none;
      }
    }
  }

  &_header {
    grid-template-columns: 20px 1fr;

    h3 {
      color: $black;
      font-size: 14px;
    }

    img, div {
      width: 20px;
      height: 20px;
    }

    div {
      background-color: $slackColor;
      border: 1px solid $slackColor;
      font-size: 12px;
    }
  }

  &_time {
    margin-left: 28px;
    color: $greyDark;
    font-size: 12px;
  }

  &_data {
    display: block;
    white-space: pre-line;
    margin: 6px 0 0 28px;
    font-size: 14px;
    color: $black;
  }

  &_edit {
    padding-top: 13px;
    background: $white;
    border: 1px solid $slackBorder;
    border-radius: 6px;
    display: grid;
    grid-template-rows: auto 51px;
    position: relative;

    .emoji_edit {
      right: unset;
      transform-origin: unset;

      &__top {
        display: block;
        bottom: -14px;
        left: -60px;
      }

      &__bottom {
        display: block;
        top: 14px;
        left: -28px;
      }
    }

    &_area {
      font-size: 14px;
      line-height: 16px;
      height: fit-content;
      padding: 0 13px;
      width: 100%;
      color: $black;
      background: transparent;
      border: none;
      resize: none;
      @include custom_scrollbar(3px, $grey, $slackColor, transparent);

      &::-webkit-scrollbar-thumb {
        border-right: none;
        border-left: 1px solid $slackColor;
        border-top: 1px solid $slackColor;
        border-bottom: 1px solid $slackColor;
      }

      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    }

    .actions {
      &_wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 13px;
        padding: 13px;
        border-top: 1px solid $slackColor;
      }

      &_icon {
        cursor: pointer;
        fill: $black;
        width: 24px;
        height: 24px;
        transition: all .15s ease;

        &:hover {
          fill: $slackColor;
        }
      }

      &_buttons {
        display: flex;
        align-items: center;
      }

      &_send {
        @include button($slackColor);
        min-height: unset;
        min-width: unset;
        font-size: 14px;
        padding: 3px 6px;

        &__disabled {
          background-color: darken($slackColor, 40%);
          cursor: default;
          pointer-events: none;
        }
      }

      &_cancel {
        @include button($greyLight);
        min-height: unset;
        min-width: unset;
        font-size: 14px;
        padding: 3px 6px;
        margin-right: 13px;
      }
    }
  }

  &_files {
    display: grid;
    grid-template-columns: repeat(auto-fit, 130px);
    gap: 13px;
    margin: 13px 0;
  }

  &_reaction {
    &_wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fit, 20px);
      grid-column-gap: 6px;
      margin: 13px 0;
    }

    width: 20px;
    height: 20px;
    position: relative;

    &_count {
      position: absolute;
      bottom: -2px;
      right: -2px;
      border: 1px solid $greyDark;
      border-radius: 100%;
      background: $greyLight;
      width: 11px;
      height: 11px;
      font-size: 9px;
      line-height: 10px;
      text-align: center;
      transition: all .15s ease;
    }

    &:hover {
      &_count {
        background: $greyDark;
      }
    }
  }

  &_reply_wrapper {
    margin-left: 28px;
    border: 1px solid $greyDark;
    border-radius: 6px;
    color: $black;
    padding: 3px 6px;
    transition: all .15s ease;

    &:hover {
      color: $slackColor;
    }
  }
}














