@import 'styles/palette';
@import 'styles/mixins';

.title_avatar {
  &_title {
    display: flex;
    align-items: center;
    font-weight: 500;
    @include truncate();
    color: $pale;
  }

  &_span {
    display: block;
    text-align: center;
  }

  &_img, &_avatar {
    width: 24px;
    height: 24px;
    border-radius: 100%;
  }

  &_avatar {
    text-transform: uppercase;
    display: grid;
    place-items: center;
    background-color: $slackColor;
    border: 1px solid $pale;
    color: $white;
    font-size: 12px;
  }

  &_wrapper {
    display: grid;
    grid-template-columns: 30px 1fr;
    grid-column-gap: 8px;
    align-items: center;
  }
}

