@import "styles/palette";
@import "styles/mixins";

.content {
  &_wrapper {
    margin: 100px 30px 30px 30px;
    min-height: calc(100vh - 130px);
    background-color: $white;
    border-radius: 6px;
    box-shadow: 0 1px 3px $opacityRgba, 0 1px 2px $opacityRgba1;
  }

  &_header {
    padding: 15px 30px;
    border-bottom: 1px solid $grey;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    grid-column-gap: 90px;
  }

  &_actions {
    display: grid;
    grid-template-columns: 38px 38px;
    grid-column-gap: 10px;

    .icon_wrapper {
      @include icon_wrapper($grey);
      padding-left: 9px;
    }

    .action_icon {
      fill:  $greyDark;
    }
  }

  &_divider {
    border-bottom: 1px solid $greyDark;
    margin: 30px 0;
  }

  &_folders, &_files {
    padding: 15px 30px;

    &_wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fit, 160px);
      gap: 30px;
    }
  }
}

.content_files_wrapper {
  grid-template-columns: repeat(auto-fit, 180px);
}

.action_folder, .action_file {
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid $greenLight;
  transition: all .3s ease;
  display: flex;
  align-items: center;
  cursor: pointer;

  &_data {
    color: $black;
    margin-left: 12px;

    div {
      max-width: 98px;
      font-size: 16px;
      margin-bottom: 5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    p {
      font-size: 14px;
    }
  }

  &_icon {
    width: 24px;
    fill: $black;
  }

  &:hover {
    border: 1px solid $green;
    box-shadow: $rgbaColor6 0px 1px 0px;
  }
}

.action_file_data div {
  max-width: 118px;
  white-space: unset;
  overflow: unset;
  text-overflow: unset;
}











