$black: #111;
$white: #fff;
$pale: #f8f8f8;
$slackColor: #3f0f40;
$slackDark: #340e36;
$slackBright: #421f44;
$slackLight: rgba(171, 86, 179, 0.46);
$slackBorder: #48274b;
$grey: #f3f3f3;
$greyDark: #7C7F82;
$greyLight: #bdc1c6;
$green: #33A852;
$greenLight: #bbeeca;
$greenDark: #137d2c;
$red: #f34242;

$rgbaColor1: rgb(51 56 66 / 15%);
$rgbaColor2: rgb(51 56 66 / 5%);
$rgbaColor3: rgb(51 56 66 / 80%);
$rgbaColor4: rgb(51 56 66 / 90%);
$rgbaColor5: rgb(51 56 66 / 25%);
$rgbaColor6: rgba(17, 17, 26, 0.1);
$shadowRgba: rgba(0,0,0,0.24);
$shadowRgba1: rgba(0, 0, 0, 0.16);
$opacityRgba: rgba(0,0,0,0.1);
$opacityRgba1: rgba(0,0,0,0.2);