@import "styles/palette";
@import "styles/mixins";

.breadcrumbs {
  &_wrapper {
    background-color: $white;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
  }

  &_item {
    max-width: 150px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 22px;
    font-weight: 500;
    color: $greyDark;
    cursor: pointer;
    position: relative;
    transition: all .3s ease;

    @include underline($green, $greyDark);

    &:hover {
      color: $green;

      &:after {
        transform: scale(1);
      }
    }

    &__active {
      color: $black;
      cursor: default;

      &:after, &:before {
        display: none;
      }

      &:hover {
        color: $black;
      }
    }
  }

  &_icon {
    margin: 3px 7px 0 7px;
    fill: $greyDark;
    height: 14px;
  }
}











