@import "styles/palette";
@import "styles/mixins";

.chat {
  &_input {
    width: 90%;
    margin: 13px auto;
    padding-top: 13px;
    background: $white;
    border: 1px solid $slackBorder;
    border-radius: 6px;
    display: grid;
    grid-template-rows: auto 51px;
    position: relative;

    .emoji_container {
      transform-origin: left bottom;
      position: absolute;
      bottom: 74px;
      left: 20px;
      transform: scale(0.8);
    }

    &_files {
      display: grid;
      grid-template-columns: repeat(auto-fit, 150px);
      gap: 13px;
      padding: 13px 13px 0 13px;
    }

    .actions {
      &_wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 13px;
        padding: 13px 20px;
        border-top: 1px solid $slackColor;
      }

      &_attachments {
        display: grid;
        place-items: center;
        grid-template-columns: 24px 24px 24px;
        grid-template-rows: 24px;
        grid-column-gap: 13px;

        .emoji_icon {
          position: relative;

          &_layer {
            cursor: pointer;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 10;
          }
        }
      }

      &_send {
        height: 24px;
      }

      &_icon {
        cursor: pointer;
        fill: $black;
        stroke: $black;
        width: 24px;
        height: 24px;
        transition: all .15s ease;

        &:hover {
          fill: $slackColor;
          stroke: $slackColor;
        }

        &__nostroke {
          stroke: none;

          &:hover {
            stroke: none;
          }
        }

        &__disable {
          cursor: default;
          stroke: $greyDark;

          &:hover {
            stroke: $greyDark;
          }
        }
      }
    }

    &_area {
      font-size: 14px;
      line-height: 16px;
      height: fit-content;
      padding: 0 18px;
      max-height: 95px;
      color: $black;
      background: transparent;
      width: 100%;
      border: none;
      resize: none;
      @include custom_scrollbar(4px, $grey, $slackColor, transparent);

      &::-webkit-scrollbar-thumb {
        border-right: none;
        border-left: 1px solid $slackColor;
        border-top: 1px solid $slackColor;
        border-bottom: 1px solid $slackColor;
      }

      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    }
  }
}













