@import "styles/palette";
@import "styles/mixins";

.option {
  &_container {
    padding: 13px;
    display: grid;
    grid-template-columns: 24px 1fr;
    align-items: center;
    grid-column-gap: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: all .15s ease;

    &:hover {
      opacity: 0.9;
      background-color: $slackDark;
    }

    &__active {
      background-color: $slackDark;
    }

    &__border {
      border-bottom: 1px solid $slackBorder;
    }

    .option_title__bold {
      font-weight: 700;
    }
  }

  &_icon {
    fill: $pale;
    stroke: $pale;
    width: 14px;
    height: 14px;

    &__container {
      display: grid;
      place-items: center;
    }
  }
}








